#timegraph-main {
    display: flex;
    margin: 20px;
}

#main-timegraph-content {
    flex: 1;
}

.horizontal-canvas {
    width: 100% !important;
}

#main {
    border: 1px solid;
    margin: 10px 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.innerContainer {
    width: 100%;
}

#main-vscroll {
    margin-top: 30px;
}

.info-container {
    display: flex;
    margin: 20px;
}

.info-header {
    font-size: larger;
    font-weight: bold;
}

.info-container .info {
    width: 30%;
    color: #ccc;
}